.searchBarContainer {
  display: flex;
  opacity: 1;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  max-width: max-content;
}
.searchBarContainer input {
  width: 459px;
  height: 105px;
  font-size: 18px;
  opacity: 1;
}
.searchBarContainer button {
  height: 105px;
  width: 213px;
  font-size: 22px;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(39, 64, 89, 1);
}

.searchBarContainer input:first-child {
  background-image: url("/src/assets/icons/Поиск.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
  padding-left: 30px;
}

.searchBarContainer input:nth-child(2) {
  background-image: url("/src/assets/icons/Локация.svg");
  background-repeat: no-repeat;
  background-position: 60px center;
  padding-left: 30px;
}
